# Build
/specl/target/
/docs/book/

# Dependencies
/specl/.deps/
node_modules/

# Editor
.DS_Store
*.swp
*.swo
*~

# TLC model checker outputs
states/
*_TTrace_*
*.toolbox/
MC.out
MC*.out

# Profiling
*.gz
